@import 'panel';
@import 'login';
@import 'input';
@import 'button';
@import 'register';
@import 'message';
@import 'navbar';
@import 'home';
@import 'select';
@import 'table';

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(40, 40, 40);
}

#root {
	height: 100vh;
}
