.login-container-grid {
	display: grid;
	height: 100vh;
	align-content: center;
	background-image: url('../../images/new-york-1.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment: fixed;
	background-size: cover; 
	
	.grid-container {
		display: grid;
		grid-template-columns: 250px;
		margin: auto auto;
		text-align: center;
		background-color: rgba($color: #000, $alpha: 0.7);
	}

	.item {
		margin: 10px;
	}

	.title {
		color: #fff;
	}

	.btn {
		// width: 100%;
	}
}
