.login-container-grid {
	display: grid;
	height: 100vh;
	align-content: center;

	.grid-container {
		display: grid;
		grid-template-columns: 350px;
		margin: auto auto;
		text-align: center;
	}

	.item {
		margin: 10px;

		&:last-child{
			margin-bottom: 15px;
		}
	}

	.subgrid {
		display: grid;
		grid-template-columns: 50% 50%; 
		justify-content: center;
		grid-column-gap: 10px;

		&--item {
			margin: 0;
		}
	}

	.btn {
		margin: 0 8px;
	}
}
