.message {
    display: grid;
    margin: auto auto 5px auto;
    background-color: #f2dede; 
    width: 350px;
    text-align: center;
    height: 45px;
    border-radius: 5px;
    color: #b15f5e;
    border-color: #ebccd1;
    align-content: center;
}