.navbar {
    &-closed {
        background-color: black;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all .2s linear;
    }
    
    &--icon {
        color: white;
        margin-top: 5px;
    }

    &--icon:hover {
        color: #008FFB;
    }

    &-opened {
        background-color: black;
        height: 100vh;
        width: 450%;
        text-align: center;
        transition: all .2s linear;
        z-index: 1;
        
        &--icon {
            color: white;
        }
    }

    .btn-black {
        background-color: black;
        border-color: black;
    }

    .row {
        display: grid;
        text-align: left;

        &-35 {
            grid-template-columns: 35% 65%;
        }
        
        .col {
            display: grid;
            padding: 5px 5px;
            
            &-none {
                display: none;
            }
        }
    }

    .text-center {
        text-align: center;
    }

    p {
        margin: 5px 0 0 0;
    }

    a {
        text-decoration: none;
    }
}