.panel {
	box-shadow: 0 4px 20px 0 rgba(0,0,0,1);
	border-radius: 5px;
	background-color: rgb(50, 50, 50);

	&-table {
		padding: 5px;
		width: 100%;
		overflow-y: scroll;
	}

	&-table::-webkit-scrollbar-track {
		background-color:rgb(50, 50, 50);
	}

	&-table::-webkit-scrollbar {
		width: 6px;
		background:rgb(50, 50, 50);
	}

	&-table::-webkit-scrollbar-thumb {
		background: #ccc;
		border-radius: 10px;
	}

	&-grid {
		display: grid;

		.end {
			display: grid;
			align-items: end;
		}
		
		.empty {
			text-align: center;
			margin: 15px;
			color: white;
		}
	}
}	

