.select {
  font-size: 2vh;
  margin: 2px;
  border: 1px solid rgb(190, 189, 189);
  border-radius: 5px;
  background: transparent;//rgba(190, 189, 189, 0.25);
  text-align-last: center;
  color: #fff;

  .option {
    background-color: rgb(50, 50, 50);
  }
}