.panel {
  box-shadow: 0 4px 20px 0 black;
  border-radius: 5px;
  background-color: #323232; }
  .panel-table {
    padding: 5px;
    width: 100%;
    overflow-y: scroll; }
  .panel-table::-webkit-scrollbar-track {
    background-color: #323232; }
  .panel-table::-webkit-scrollbar {
    width: 6px;
    background: #323232; }
  .panel-table::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px; }
  .panel-grid {
    display: grid; }
    .panel-grid .end {
      display: grid;
      align-items: end; }
    .panel-grid .empty {
      text-align: center;
      margin: 15px;
      color: white; }

.login-container-grid {
  display: grid;
  height: 100vh;
  align-content: center;
  background-image: url("../../images/new-york-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .login-container-grid .grid-container {
    display: grid;
    grid-template-columns: 250px;
    margin: auto auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); }
  .login-container-grid .item {
    margin: 10px; }
  .login-container-grid .title {
    color: #fff; }

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center; }

.btn {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none; }
  .btn--primary {
    background-color: #3d94f6;
    border: 1px solid #3d94f6; }
  .btn--primary:hover {
    background-color: #1e62d0; }
  .btn--success {
    background-color: #02a32d;
    border: 1px solid #02a32d; }
  .btn--success:hover {
    background-color: #007a21; }
  .btn--danger {
    background-color: #f63d3d;
    border: 1px solid #f63d3d; }
  .btn--danger:hover {
    background-color: #d01e1e; }

.register-container-grid {
  display: grid;
  height: 100vh;
  align-content: center;
  z-index: 100; }
  .register-container-grid .grid-container {
    display: grid;
    grid-template-columns: 350px;
    margin: auto auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); }
  .register-container-grid .item {
    margin: 10px; }
    .register-container-grid .item:last-child {
      margin-bottom: 15px; }
  .register-container-grid .title {
    color: #fff; }
  .register-container-grid .react-datepicker-wrapper {
    width: 100%; }

.with-image {
  background-image: url("../../images/new-york-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.message {
  display: grid;
  margin: auto auto 5px auto;
  background-color: #f2dede;
  width: 350px;
  text-align: center;
  height: 45px;
  border-radius: 5px;
  color: #b15f5e;
  border-color: #ebccd1;
  align-content: center; }

.navbar-closed {
  background-color: black;
  height: 100vh;
  width: 100%;
  text-align: center;
  transition: all .2s linear; }

.navbar--icon {
  color: white;
  margin-top: 5px; }

.navbar--icon:hover {
  color: #008FFB; }

.navbar-opened {
  background-color: black;
  height: 100vh;
  width: 450%;
  text-align: center;
  transition: all .2s linear;
  z-index: 1; }
  .navbar-opened--icon {
    color: white; }

.navbar .btn-black {
  background-color: black;
  border-color: black; }

.navbar .row {
  display: grid;
  text-align: left; }
  .navbar .row-35 {
    grid-template-columns: 35% 65%; }
  .navbar .row .col {
    display: grid;
    padding: 5px 5px; }
    .navbar .row .col-none {
      display: none; }

.navbar .text-center {
  text-align: center; }

.navbar p {
  margin: 5px 0 0 0; }

.navbar a {
  text-decoration: none; }

.home-container-grid {
  display: grid;
  grid-template-columns: 3.5% 96.5%; }
  .home-container-grid .content {
    display: grid;
    grid-template-rows: 50vh 50vh; }
    .home-container-grid .content .row {
      display: grid; }
      .home-container-grid .content .row-65 {
        grid-template-columns: 65% 35%; }
      .home-container-grid .content .row-50 {
        grid-template-columns: 50% 50%; }
      .home-container-grid .content .row-3 {
        grid-template-columns: 25% 25% 50%; }
      .home-container-grid .content .row .col {
        display: grid;
        padding: 10px 15px; }
        .home-container-grid .content .row .col-2 {
          grid-template-rows: 50% 50%; }
        .home-container-grid .content .row .col-pd-r {
          padding: 0 15px 0 0; }
        .home-container-grid .content .row .col-pd-l {
          padding: 0 0 0 15px; }
    .home-container-grid .content .panel-graph {
      height: 400px; }
    @media screen and (max-width: 1400px) {
      .home-container-grid .content .panel-graph {
        height: 275px; } }
    .home-container-grid .content .panel-stock-name {
      margin-bottom: 10px;
      display: grid;
      grid-template-rows: 60% 20% 20%;
      padding: 15px; }
      .home-container-grid .content .panel-stock-name .company-name {
        text-align: center;
        font-size: 2.5vh;
        align-self: center;
        color: #fff; }
      .home-container-grid .content .panel-stock-name .row {
        display: grid; }
      .home-container-grid .content .panel-stock-name .chart-options {
        display: grid;
        grid-template-columns: 50% 50%; }
    .home-container-grid .content .panel-future {
      margin-top: 10px;
      display: grid; }
    .home-container-grid .content .modal {
      background-color: #282828; }
    .home-container-grid .content .prevision {
      font-family: helvetica, Arial, sans-serif;
      margin: auto;
      font-size: 5vh;
      text-align: center; }
      .home-container-grid .content .prevision--high {
        color: #008FFB; }
      .home-container-grid .content .prevision--low {
        color: red; }
    .home-container-grid .content .price-future {
      margin: auto;
      font-size: 7vh;
      text-align: center; }

.select {
  font-size: 2vh;
  margin: 2px;
  border: 1px solid #bebdbd;
  border-radius: 5px;
  background: transparent;
  text-align-last: center;
  color: #fff; }
  .select .option {
    background-color: #323232; }

.table {
  color: #fff;
  border-collapse: collapse;
  padding: 5px;
  width: 100%; }
  .table .header {
    border-bottom: 1px solid #898989;
    padding: 10px 5px;
    text-align: left; }
  .table .line td {
    text-align: left;
    border-bottom: 1px solid #898989;
    padding: 10px 5px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif; }
  .table .line:last-child td {
    border: none; }
  .table .w-40 {
    width: 40%; }
  .table .w-20 {
    width: 20%; }

.profile-container-grid {
  display: grid;
  grid-template-columns: 3.5% 96.5%; }
  .profile-container-grid .content {
    display: grid;
    padding: 15px; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282828; }

#root {
  height: 100vh; }
